:root{
  --pad: 8px;

  --shadow: rgba(100, 100, 100, .5);
  --blue: #4056a1;
  --light-blue: #c5cbe3;
  --red: #f13c2d;
  --gold: #d79922;
  --off-white: #efe2ba;

}

body{
  padding: 0;
  margin: 0;

  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 10fr;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
  grid-column: span 2;
}