.nav{
  background-color: var(--light-blue);
  box-shadow: 0px 0px 1px 1px var(--shadow);

  transition: 1s;
}

.nav:hover{
  background-color: var(--off-white);
}

.nav > button{
  background-color: transparent;
  width: 12vw;
  padding: var(--pad);
  border: none;

  font-size: 1.2rem;
  font-weight: bold;
}

.nav > button:hover{
  background-color: rgba(100, 100, 100, .2);
  border: none;
  transition: 200ms;
}

.new-list-form{
  background-color: var(--off-white);
  box-shadow: 0px 0px 1px 0px var(--shadow);
  padding: var(--pad);
}

.new-list-form input{
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;

  width: 12vw;
  font-size: 1.2rem;
  font-weight: bold;
}

.new-list-form button{
  margin: var(--pad);
  padding: var(--pad);
  border: none;
  font-weight: bold;
}
